@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
.bg-raziel{
    background: #CFE7fA;
background: linear-gradient(to right, #CFE7fA 0%, #6393C1 100%);

}
body{
    font-family: 'Rubik', sans-serif;
    color: black;
}
h1,h2,h3,h4,h5{
    font-family: 'Pattaya', sans-serif;
    color: black;
   
}
h5{
    text-align: right;
}
#carouselExampleCaptions{
width: 600px;
height: 400px;
text-align: center;
margin: auto;
}
main{
margin-bottom: 100px;
}
h4,.carousel-caption>p{
    background-color: black;
    color: aliceblue;
}
.mt10p{
    margin-top: 10px;
}
#shrek,#oldad,#tlv{
    height: 650px;
     width: 900px;
      margin-right: 10%;
}
.song{
    margin-right:22%;
     width:684px;
      height:385px;
}
.vid{
    margin-top: 50px;
    width:584px;
    height:285px;
}
@media only screen and (max-width: 600px) {
    #imgh.active{
  width: 100vw;
  margin-bottom: 50px;
  height: 300px;
    } 
    #shrek {
        width: 100vw;
        margin: 0px;
        height: 300px;
    }
    #oldad {
        width: 100vw;
        margin: 0px;
        height: 300px;
    }
    .song{
        width: 100vw;
        margin: 0px;
        height: 300px;
    }
    #tlv{
        width: 100vw;
        margin: 0px;
        height: 300px;
    }
    #vid{
        width: 100vw;
        margin: 0px;
        height: 300px;
    }
    #vid2{
        width: 100vw;
        margin: 0px;
        height: 300px;
    }
}
a.nav-link:hover{
    background-color: #CFE7fA;
    border-radius: 30px;
}
li.nav-item{
    margin-right: 30px;
    font-size: 20px;
}
.row img{
    width: 300px;
    height: 250px;
}
#imgh{
    height: 95vh;
    width: 100vw;
}
.fa {
    padding: 10px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  .fa:hover {
    opacity: 0.7;
    background-color: #CFE7fA;
    border-radius: 50%;
  }
  button.btn.btn-primary {
    animation: wiggle 2s linear infinite;
  }
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  button.btn.btn-primary {
    position: static;
    left: calc(60% - 3em);
    top: calc(105% - 2em);
    height: 4em;
    width: 7em;
    background: #444;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 3px solid orange;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
  }
  #form2b.btn.btn-primary {
    position: static;
    left: calc(60% - 3em);
    top: calc(105% - 2em);
    height: 4em;
    width: 7em;
    background: #444;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 3px solid orange;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
  }
  $bg: #1d1f20;
  $text-color: #d7b94c;
  $caret-color: white;
  $text-length: 16;
  $animation-time: 4s;
  
  .typing {
    position: relative;
      &::after {
      content: "|";
      position: absolute;
      left: 0;
      width: 100%;
      color: $caret-color;
      background: white;
     animation: typing $animation-time steps($text-length) forwards,
        caret 1s infinite;
    }
  }
  @keyframes typing {
      to { width: 0 }
  }
  @keyframes caret {
      50% { color: transparent }
  }
 
  

  


  
  

